<mat-card>
  <mat-card-title>
    WELCOME {{userName | uppercase}}
    <button mat-raised-button color="primary" (click)="onLogout();">
      <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    YOU ARE NOW {{status | uppercase}}
  </mat-card-subtitle>
</mat-card>
<div class="wrapper">
  <aside>
    <mat-card  [style.overflow]="'auto'" [style.height.px]="'700'">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Online">
          <mat-card class="online-card" *ngFor="let user of activeUsers; let i = index;" style="padding-top: 20px;">
            <mat-card-title-group>
              <mat-card-title>{{user.full_name}}</mat-card-title>
              <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
              

            </mat-card-title-group>
            <mat-card-content>
              <div class="example-button-row">
                <button mat-raised-button color="primary" style="width: 99%;" (click)="onChatSelect(user)">CHAT</button>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Offline">
          <mat-card class="online-card" *ngFor="let user of inactiveUsers; let i = index;" style="padding-top: 20px;">
            <mat-card-title-group>
              <mat-card-title>{{user.full_name}}</mat-card-title>
              <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
              

            </mat-card-title-group>
           
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </aside>
  <main>
    <mat-card *ngIf = "showChatBox">
      <mat-card-title>
        {{recipientName}}
      </mat-card-title>
      <mat-card-subtitle>
        {{recipientEmail}}
      </mat-card-subtitle>
              </mat-card>
    <mat-card  *ngIf = "showChatBox" [style.overflow]="'auto'" [style.height.px]="'500'">
      <div>

      </div>
      <div style="padding-top: 50px;">
        <mat-card class="online-card" *ngFor="let chat of organizedChat; let i = index;" >
          <mat-card-title-group>
            <mat-card-title>{{chat.message}}</mat-card-title>
            <mat-card-subtitle>{{chat.time | date: 'dd/MM/yyyy hh:mm a'}}</mat-card-subtitle>
            <mat-card-subtitle>From: {{chat.senderName}}</mat-card-subtitle>
            <mat-icon aria-hidden="false" aria-label="Example home icon">message</mat-icon>
          </mat-card-title-group>
        </mat-card>
      </div>
    </mat-card>
    <footer *ngIf = "showChatBox">
      <form class="example-form" #dataFormThree="ngForm" (ngSubmit)="postMessage(dataFormThree)">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
          <mat-label>Leave A Message</mat-label>
          <textarea matInput ngModel name="message" type="text" placeholder="Ex. Hey Buddy."></textarea>
        </mat-form-field>
        <div class="example-button-row">
          <button mat-raised-button color="primary" style="width: 99%;" type="submit">SEND</button>
        </div>
      </form>
    </footer>
  </main>

</div>