@media (min-width: 800px) {
    .wrapper {
      display: grid;
      grid-template-columns: 500px 1fr;
      grid-gap: 50px;
      padding: 40px;
    }
  
    aside {
      align-self: start;
    }
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }

  .online-card {
    max-width: 400px;
    margin-bottom: 8px;
  }