<div style="padding: 200px;">
  <mat-card style="width: 50%;">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Register">
        <form #dataForm="ngForm" (ngSubmit)="submitRegistrationData(dataForm)" enctype="multipart/form-data" novalidate>

          <div fxLayout="row wrap" class="w3-center" style="width: 100%;">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field appearance="outline" style="width: 99%;">
                <mat-label>Full name:</mat-label>
                <input matInput ngModel name="full_name" type="text">
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field appearance="outline" style="width: 99%;">
                <mat-label>e-mail:</mat-label>
                <input matInput ngModel name="email" type="text">
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field appearance="outline" style="width: 99%;">
                <mat-label>Password:</mat-label>
                <input matInput ngModel name="password" type="text">
              </mat-form-field>
            </div>

            <div class="example-button-row" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button mat-raised-button color="primary" type="submit" style="width: 99%;">SUBMIT</button>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Sign In">
        <form #dataFormTwo="ngForm" (ngSubmit)="submitLoginData(dataFormTwo)" novalidate>
          <div fxLayout="row wrap" class="w3-center" style="width: 100%;">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field appearance="outline" style="width: 99%;">
                <mat-label>e-mail:</mat-label>
                <input matInput ngModel name="email" type="text">
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field appearance="outline" style="width: 99%;">
                <mat-label>Password:</mat-label>
                <input matInput ngModel name="password" type="text">
              </mat-form-field>
            </div>

            <div class="example-button-row" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button mat-raised-button color="primary" type="submit" style="width: 99%;">SUBMIT</button>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>


  <mat-card style="width: 50%;">

  </mat-card>
</div>